<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Quick Vote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem-vindo ao Quick Vote</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Sistema de votação rápida e eficiente</p>

      <ion-button expand="block" routerLink="/eleitor-list">
        Gerenciar Eleitores
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
